<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
    <!-- Toast UI Editor -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <!-- summernote wysywig -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<h2>상품 등록</h2>
<form th:action="@{/product/create}" th:object="${requestProductCreate}" method="post" onclick="onSubmitValue()">
    <div class="mb-3 justify-content-center d-flex flex-row">
        <label for="subject" class="form-label text-center fs-5">제목</label>
        <input type="text" id="subject" class="form-control" th:field="*{subject}">
    </div>
    <div class="mb-3 justify-content-center d-flex flex-row">
        <label for="price" class="form-label text-center fs-5">가격</label>
        <input type="text" id="price" class="form-control" th:field="*{price}">
    </div>
    <div class="mb-3 justify-content-center d-flex flex-row">
        <label for="keyword" class="form-label text-center fs-5">해시태그</label>
        <input type="text" id="keyword" class="form-control" th:field="*{keyword}">
    </div>

    <input type="submit" value="작성하기" class="btn btn-primary my-2">
</form>
</body>
</html>