<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">

<head>
    <title>마켓앱</title>
</head>

<th:block layout:fragment="content">

    <div class="d-flex mt-2 justify-content-between">
        <div>
            <h2>최신글</h2>
        </div>
        <div sec:authorize="isAuthenticated()">
            <button class="btn btn-outline-primary" onclick="location.href='/post/write'">글쓰기</button>
        </div>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                    <th>수정날짜</th>
                </tr>
            </thead>

            <tbody>
                <tr th:if="${posts.empty}">
                    <td>게시물 없음</td>
                </tr>
                <tr th:each="post, index : ${posts}">
                    <td th:text="${index.count}"></td>
                    <td>
                        <a th:href="@{'/post/' + ${post.id}}" th:text="${post.subject}"></a>
                    </td>
                    <td th:text="${post.member.username}"></td>
                    <td th:text="${post.createDate}"></td>
                    <td th:text="${post.updateDate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</th:block>
</html>