<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
>

<th:block th:fragment="topbarFragment">

    <!-- Topbar -->
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">마켓앱</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/post/list">Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product/list">Product</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" href="/member/login">로그인</a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" href="/member/join">회원가입</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/cart/list">장바구니</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/member/modify">정보수정</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/member/logout">로그아웃</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</th:block>
</html>