<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>상품 등록</title>
</head>

<th:block layout:fragment="content">
    <h2>상품 등록</h2>
    <form th:action="@{/product/} + ${requestProductModify.id} + @{/modify}" th:object="${requestProductModify}" method="post" onclick="onSubmitValue()">
        <div class="mb-3 justify-content-center d-flex flex-row">
            <label for="subject" class="form-label text-center fs-5">제목</label>
            <input type="text" id="subject" class="form-control" th:field="*{subject}">
        </div>
        <div class="mb-3 justify-content-center d-flex flex-row">
            <label for="price" class="form-label text-center fs-5">가격</label>
            <input type="text" id="price" class="form-control" th:field="*{price}">
        </div>
        <div class="mb-3 justify-content-center d-flex flex-row">
            <span class="flex-column" th:text="*{keyword}"></span>
        </div>

        <input type="submit" value="작성하기" class="btn btn-primary my-2">
    </form>
</th:block>
</html>