<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}"
>
<head>
    <title>비밀번호수정</title>
</head>
<th:block layout:fragment="content">
    <div class="d-flex justify-content-center">
        <div class="w-75">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/member/modify">회원정보수정</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/member/modifyPassword">비밀번호수정</a>
                </li>
            </ul>
            <div>
                <div class="d-flex justify-content-center my-3">
                    <h3>비밀번호수정</h3>
                </div>
                <form th:action="@{/member/modifyPassword}" th:object="${requestModifyPassword}" method="post">
                    <div class="row mb-3 w-100">
                        <label for="oldPassword" class="col-sm-3 col-form-label fs-5">기존 비밀번호</label>
                        <div class="col-sm-9">
                            <input type="password" id="oldPassword" class="form-control" th:field="*{oldPassword}">
                        </div>
                    </div>
                    <div class="row mb-3 w-100">
                        <label for="password" class="col-sm-3 col-form-label fs-5">새 비밀번호</label>
                        <div class="col-sm-9">
                            <input type="password" id="password" class="form-control" th:field="*{password}">
                        </div>
                    </div>
                    <div class="row mb-3 w-100">
                        <label for="passwordConfirm" class="col-sm-3 col-form-label fs-5">새 비밀번호 확인</label>
                        <div class="col-sm-9">
                            <input type="password" id="passwordConfirm" class="form-control" th:field="*{passwordConfirm}">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-content-center">
                        <input type="submit" value="비밀번호 변경" class="btn btn-primary my-2">
                    </div>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>