<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>비밀번호수정</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="flex justify-content-center">
    <h3>비밀번호수정</h3>
    <form th:action="@{/member/modifyPassword}" th:object="${requestModifyPassword}" method="post">
        <div class="mb-3 w-75 justify-content-center">
            <label for="oldPassword" class="form-label">기존 비밀번호</label>
            <input type="password" id="oldPassword" class="form-control" th:field="*{oldPassword}">
        </div>
        <div class="mb-3 w-75">
            <label for="password" class="form-label">새 비밀번호</label>
            <input type="password" id="password" class="form-control" th:field="*{password}">
        </div>
        <div class="mb-3 w-75">
            <label for="passwordConfirm" class="form-label">새 비밀번호 확인</label>
            <input type="password" id="passwordConfirm" class="form-control" th:field="*{passwordConfirm}">
        </div>
        <input type="submit" value="비밀번호 변경" class="btn btn-primary my-2">
    </form>
</div>
</body>
</html>