<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>회원정보수정</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="flex justify-content-center">
    <h3>회원정보수정</h3>
    <form th:action="@{/member/modify}" th:object="${requestModify}" method="post">
        <div class="mb-3 w-75 justify-content-center">
            <label for="email" class="form-label">이메일</label>
            <input type="email" id="email" class="form-control" th:field="*{email}">
        </div>
        <div class="mb-3 w-75">
            <label for="nickname" class="form-label">작가명</label>
            <input type="text" id="nickname" class="form-control" th:field="*{nickname}">
        </div>
        <input type="submit" value="수정하기" class="btn btn-primary my-2">
    </form>
</div>
</body>
</html>