<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<body>
<h1>게시글 목록</h1>

<div>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성날짜</th>
            <th>수정날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${posts.empty}">
            <td>게시물 없음</td>
        </tr>
        <tr th:each="post, index : ${posts}">
            <th th:text="${index.count}"></th>
            <th>
                <a th:href="@{/post/} + ${post.id}" th:text="${post.subject}" />
            </th>

            <th th:text="${post.member.username}"></th>
            <th th:text="${post.createDate}"></th>
            <th  th:text="${post.updateDate}"></th>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>